<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer src="/javascript/javascripts.js"></script>
    <title>Menedżer haseł</title>
</head>
<body>
    <%- body %>
</body>
</html>