<nav class="header-nav">
    <a class="header-title" href="/">Menedżer haseł</a>
    <ul>
        <%if(token !== '') { %>
            <li><a href="/user/newLoginDataView">Dodaj nowy rekord</a></li>
            <li><a href="/userAccount">Konto użytkownika</a></li>
            <li><a href="/signin/signout">Wyloguj</a></li>
        <% }else{ %>
            <li>
                <a class="a-big"href="/signup">Zarejestruj się</a>
            </li>
        <% } %>
    </ul>
  </nav>