<h1 class="page-header">Strona rejestracji signup.js</h1>
<h1 class="page-header">Załóż konto</h1>


<div class="display-mid">
    <form action="/signup" method="POST">
        <div class="form-row">
            <div class="form-item">
                <label>Email:</label>
                <input type="email" name="email" value="<%= data.email %>">
            </div>
            <div class="form-item">
                <label>Login:</label>
                <input type="text" name="login" value="<%= data.login %>">
            </div>
            <div class="form-item">
                <label>Password:</label>
                <input id="password" type="text" name="password" value="">
                <div>Password Strength: </div> <div id="strength"></div>
            </div>
            <div class="form-item">
                <label>Password repeat:</label>
                <input id="password-repeat" type="text" name="password-repeat" value="">
            </div>
            <div id="password-error"></div>
        </div>
        <button class="btn btn-primary" type="submit">Create new account</button>
    </form>
<div>

<!-- <a href="/">Sign In</a> -->