<h1 class="page-header">Pobrany rekord danych z hasłem</h1>

<div class="display-mid">
    <%- include('../forms/formDataView.ejs') %>
</div>

<a class="btn btn-primary btn-to-right" href="/signin">Wróć do wszystkich stron</a>