<h1>New Data</h1>
<h1>Dodanie nowego rekordu z hasłem i danymi do strony</h1>

<div class="display-mid">
    <form action="/user/newLoginData" method="POST">
        <%- include('../forms/formData.ejs') %>
        <button class="btn btn-primary" type="submit">New Record</button>
    </form>
</div>
