<h1>Nowa strona </h1>
<!-- <h1>Dodanie nowego rekordu z hasłem i danymi do strony</h1> -->

<div class="display-mid">
    <form action="/user/newLoginData" method="POST">
        <%- include('../forms/formData.ejs') %>
        <button class="btn btn-primary btn-to-right" type="submit">Dodaj nową stronę</button>
    </form>
</div>
