<div class="form-signin">
    <label>Login:</label>
    <input id="login" type="text" name="login" value="<%=data.login%>">
</div>
<div class="form-signin">
    <label>Hasło:</label>
    <input id="password" type="text" name="password" value="<%=data.password%>">
</div>