<h1 class="page-header">Update Data</h1>
<!-- <h1 class="page-header">Zmiana rekordu z hasłem i danymi do strony</h1> -->

<div class="display-mid">
    <form action="/user/updateLoginData/<%=id%>" method="POST">
        <%- include('../forms/formData.ejs') %>
        <button class="btn btn-primary btn-to-right" type="submit">Update Record</button>
    </form>
</div>
