<h1 class="page-header">Dane konta</h1>
<div class="form-row">
    <div class="form-item">
        <label>Email: 
            <div class="data"><%=data.email%></div>
        </label>
    </div>
    <div class="form-item">
        <label>Login: 
            <div class="data"><%=data.login%></div>
        </label> 
    </div>
    <div class="form-item">
        <label>Id: 
            <div id="password"><%=data.id.$oid%></div>
        </label>
    </div>
</div>
<a class="btn btn-danger btn-to-right" href="/userAccount/delete">Usuń konto</a>