@import 'shared/variables.css';
/* @import 'shared/button.css'; */
/* @import 'shared/form.css'; */

:root{
    /* font-family: 'Gotham rounded'; */
    font-size: 20px;
    color: var(--color-text-light)
}

/* *, *::before, *::after{
    box-sizing: border-box;
} */
body{
    background: linear-gradient(to right, 
    var(--color-background-dark), 
    var(--color-background-light));
}

.container{
    /* max-width: 1200px; */
    /* width: 50%; */
    /* margin: 0 auto; */
    /* margin-bottom: 3rem; */

    margin-top: 10em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.signin{ 
    width: 30%;

    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    
}

.myform{
    width: 30em;
    text-align: center;
}

.form-signin{
    
    display: flex;
}
label{
    float: left;
}
input{
    float: right;
}

a:link{
    font-size: 20px;
    color: white;
}
a:visited:{
    font-size: 20px;
    color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px, 250px;
    grid-auto-rows: minmax(150px, auto);
    justify-items: stretch;
    align-items: stretch;
}
.newrecord{
    width: 50px;
    height: 50px;
    color: red;
}