@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/button.css';
@import 'shared/form.css';

:root{
    /* font-family: 'Gotham rounded'; */
    font-size: 1.7rem;
    /* color: var(--color-text-light) */
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, 
    var(--color-background-dark), 
    var(--color-background-light));
    color: var(--color-text-light)
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container{
    margin: 0 3rem;
}

.page-header{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.page-header-signin{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.row-signin{
    margin-top: 4rem;
    text-align: center;
}
.index{
    border-radius: 2rem;
    background-color: steelblue;
    border: 3px solid black;
}
.a-big{
    font-size: 2rem; 
    border-radius: 1rem;
    border: 3px solid black;
}

/* .header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem 1rem 5rem;
    font-size: 2.5rem;
}
.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    margin-right: 50px;
}
.flexbox-container{
    font-size: 1.3rem;
    margin: auto auto;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 20px; 
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.flexbox-item{
    width: 25%;
    height: var(width 30%);
    background-color: rgb(108, 100, 146);
    margin: 20px;
    padding: 20px;
    border: 3px solid #000000;
    overflow: hidden;
    display: grid;
}
.flexbox-item li{
    margin: 20px;
    padding: 15px;
}
.flexbox-item button{
    width: 50%;
    margin: 5px;
    float: left;
    padding: 15px;
    background-color: yellow;
}

.flexbox-item a{
    width: 50%;
    margin: 5px;
    padding: 5px;
    color: red;
    background-color: rgb(233, 134, 116);
    float: left;
    border: 2px solid #000000;
}










.flexbox-signin{
    min-height: 100px;
    min-width: 20%;
    background-color: rgb(62, 95, 202);
    margin: 20px;
    padding: 20px;
    border: 1px solid #02285a;
    align-content: flex-end;
}
.title-signin{
    text-align: center;
}
.form-signin label{
    text-align: start;
}
.form-signin input{
    margin-left: auto;
    float: right;
    width: 50%;
}
.btn{
    float: right;
}
a{  
    color: rgb(97, 30, 18);
}

.display-mid{
    font-size: 1.6rem;
    margin: auto;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    position: relative;
    background-color: rgb(62, 95, 202);
    border: 2px solid #000000;
}
.form-row{
    display: flexbox;
    margin-bottom: .5rem; 
}
.form-item{
    position: relative;
}
.form-row label{
    float: left;
}
.form-row input{
}

h1{
    text-align: center;
}

.logowanie-select{
    margin-left: 43%;
} */