@import 'shared/variables.css';
/* @import 'shared/button.css'; */
/* @import 'shared/form.css'; */

:root{
    /* font-family: 'Gotham rounded'; */
    font-size: 20px;
    color: var(--color-text-light)
}

body{
    background: linear-gradient(to right, 
    var(--color-background-dark), 
    var(--color-background-light));
}

.header-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem 1rem 5rem;
    font-size: 2.5rem;
}
.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li {
    list-style: none;
    margin-right: 50px;
}
.flexbox-container{
    font-size: 1.3rem;
    margin: auto auto;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 20px; 
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flexbox-item{
    width: 25%;
    height: var(width 30%);
    background-color: rgb(108, 100, 146);
    margin: 20px;
    padding: 20px;
    border: 3px solid #000000;
    overflow: hidden;
    /* flex-basis: 1;
    flex-grow: 1; */
}
.flexbox-item li{
    margin: 20px;
    padding: 15px;
}
.flexbox-item button{
    margin: 10px;
    float: right;
    padding: 15px;
    background-color: yellow;
}

.flexbox-item a{
    width: 50%;
    margin: 5px;
    padding: 5px;
    color: red;
    background-color: rgb(233, 134, 116);
    float: left;
    border: 2px solid #000000;
}










.flexbox-signin{
    min-height: 100px;
    min-width: 20%;
    background-color: rgb(62, 95, 202);
    margin: 20px;
    padding: 20px;
    border: 1px solid #02285a;
    align-content: flex-end;
}
.title-signin{
    text-align: center;
}
.form-signin label{
    text-align: start;
}
.form-signin input{
    margin-left: auto;
    float: right;
    width: 50%;
}
.btn{
    float: right;
}
a{  
    color: rgb(97, 30, 18);
}