:root{
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 50%);
}

.form-item{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #000000;
    background-color: var(--form-input-background-color);
    overflow: hidden;
}

.form-item:hover{
    background-color: rgb(111, 142, 226);
    overflow: visible;
}

.form-item label{
    font-size: 1.25rem;
    color: white;
}

.form-item li{
    font-size: 1rem;
    overflow: hidden;
}

li:hover{
    overflow: visible;
}

.form-item div{
    float: right;
    max-width: 60%;
}

.form-item input{
    max-width: 60%;
}

.form-signin{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}



li div{
    max-width: 20%;
}

label div{
    overflow: hidden;
    text-overflow: ellipsis;
}

label div:hover{
    overflow: visible;
}
















/* .data{
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data:hover{
    overflow: visible;
} */






/* .flexbox-item{
    width: 25%;
    height: var(width 30%);
    background-color: rgb(108, 100, 146);
    margin: 20px;
    padding: 20px;
    border: 3px solid #000000;
    overflow: hidden;
    display: grid;
} */
/* .flexbox-item li{
    margin: 20px;
    padding: 15px;
}
.flexbox-item button{
    width: 50%;
    margin: 5px;
    float: left;
    padding: 15px;
    background-color: yellow;
}

.flexbox-item a{
    width: 50%;
    margin: 5px;
    padding: 5px;
    color: red;
    background-color: rgb(233, 134, 116);
    float: left;
    border: 2px solid #000000; 
} */








/* .form-item:first-child{
    margin-left: 0;
}
.form-item-no-grow{
    flex-grow: 0;
}
.form-row-end{
    justify-content: flex-end;
}
.form-item > label{
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}
.form-item input, .form-item option, .form-item select, .form-item textarea{
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Gotham Rounded';
    outline: none;
}

.form-item textarea{
    height: 100%;
    resize: none;
}
.form-item select option{
    background-color: black;
}
.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: var(--form-input-border-color-light);
}

.filepond--root{
    font-family: 'Gotham Rounded';
    margin-bottom: 0;
}
.filepond--panel-root{
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
}
.filepond--drop-label{
    color: var(--color-text-light);
    font-size: inherit;
} */