<div class="form-row">
    <div class="form-item">
        <label>Site: </label>
        <div class="data"><%=data.site%></div>
    </div>
    <div class="form-item">
        <label>Login: </label> 
        <div class="data"><%=data.login%></div>
    </div>
    <div class="form-item">
        <label>Password: </label>
        <div id="password"><%=data.password%></div>
    </div>
    <div class="form-item">
        <label>Note: </label>
        <div id="note"><%=data.note%></div>
    </div>
</div>