<div class="form-row">
    <div class="form-item">
        <label>Site: 
            <div class="data"><%=data.site%></div>
        </label>
    </div>
    <div class="form-item">
        <label>Login: 
            <div class="data"><%=data.login%></div>
        </label> 
    </div>
    <div class="form-item">
        <label>Password: 
            <div id="password"><%=data.password%></div>
        </label>
    </div>
    <div class="form-item">
        <label>Note: 
            <div id="note"><%=data.note%></div>
        </label>
    </div>
</div>